.App {
  text-align: center;
}
.add{
  position: relative;
  margin-top: 100px;
  margin-bottom: 50px;
}
.btn{
  background-color: #f3594a !important;
}
.btn, input:focus{
  border: 1px solid #f3594a !important;
  box-shadow: 0 0 5px #f3594a !important;
  border-radius: 0px;
}
.card-footer{
  background-color: white !important;
}
.notes-grid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 1rem;
  padding: 1rem;
}
.note{
  max-height: 200px;
  background-color: white;
}
.note-footer{
  background-color: white;
  text-align: right;
}
.spinner-border{
  position: relative !important;
  margin: 0 auto !important;
  widows: 100% !important;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
